body {
  margin-top: var(--nav-height);
}

.header {
  display: flex;
  height: 80vh;
  background-color: white;
  overflow: hidden;
  position: relative;
  padding-top: calc(2rem + clamp(30px, 4vw, 8em) + 1em);
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
  display: block;
}

.header-overlay {
  height: 50%;
  position: absolute;
  width: 90%;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-left: 3%;
  padding-top: 1.5%;
}

.header-overlay h1 {
  font-size: clamp(18px, 3vw, 8em);
  font-weight: 900;
}

.header-overlay h4 {
  box-sizing: border-box;
  display: block;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(14px, 2vw, 6.5em);
  font-weight: 400;
}

.header-overlay .btn-transparent {
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(14px, 1.8vw, 6.5em);
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 15px;
  margin-top: 3.5%;
}

.header-overlay .btn-transparent:hover {
  background-color: #093fb4;
  transition: 0.4s ease;
  border: 1px solid #093fb4;
}
