.header-testimonials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-img-testimonials {
  height: 100%;
  width: 100%;
  display: flex;
}

.header-img-testimonials > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 45%;
}

.header-overlay-testimonials {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: flex-start;
  padding-right: 8%;
}

.header-overlay-testimonials > h1 {
  font-size: clamp(14px, 3.5vw, 10em);
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  padding-bottom: 2%;
  padding-top: 35%;
}

.header-overlay-testimonials > h4 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(12px, 2.2vw, 8em);
  font-weight: 500;
  color: white;
  margin: 0;
}

.hr-blue {
  margin-top: 1%;
  border-color: #093fb4;
}

.hr-red {
  border-color: #ed3500;
}

.testimonials {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 5%;
}

.testimonial-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;
}

.inner-img {
  aspect-ratio: 1 / 1;
  width: 70%;
  border-radius: 20px;
  background-color: gray;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

.testimonial-text {
  flex: 0 0 45%;
  display: flex;
  align-items: center;
}

.testimonial-text > .inner-text {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Montserrat", sans-serif;
}

.testimonial-text > .inner-text > h1 {
  font-weight: 500;
  font-size: clamp(1.2em, 1.6vw, 5em);
}

.testimonial-text > .inner-text > h3 {
  color: gray;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  font-size: clamp(1em, 1.2vw, 4.5em);
}

.testimonial-text > .inner-text > p {
  font-size: clamp(1em, 1.4vw, 4.5em);
}

.testimonial-2 > .testimonial-img {
  order: 2;
}

.testimonial-3 {
  margin-top: 12%;
  margin-bottom: 10%;
}

.testimonial-4 > .testimonial-img {
  order: 2;
}

.path {
  position: absolute;
  height: 150%;
  bottom: -40%;
  left: 3%;
}

.path-2 {
  bottom: -30%;
  left: 2%;
}

.more-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.more-reviews-text {
  flex: 0 0 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
  font-family: "Roboto", sans-serif;
}

.more-reviews-inner-text > h1 {
  font-size: clamp(1.4em, 1.8vw, 6em);
  color: #093fb4;
  font-weight: 600;
}

.more-reviews-inner-text > p {
  color: black;
  font-size: clamp(1.2em, 1.6vw, 5.5em);
  font-weight: 300;
}

.more-reviews-button {
  flex: 0 0 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

.reviews-btn {
  color: #093fb4;
  border: 4px solid #093fb4;
  font-size: clamp(1.4em, 1.8vw, 6em);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-decoration: none;
  padding: 1em 1em;
  border-radius: 20px;
}

.reviews-btn:hover {
  background-color: #ed3500;
  color: white;
  border-color: #ed3500;
  transition: 0.5s ease-in-out;
}

/* Mobile styling */
@media (max-width: 719px) {
  .header-overlay-testimonials {
    padding-right: 2%;
  }

  .testimonials {
    flex-direction: column;
  }

  .testimonial-text {
    justify-content: center;
  }

  .testimonial-text > .inner-text {
    margin-left: 0;
  }

  .testimonial-img > .inner-img {
    width: 60%;
  }

  .testimonial-2 > .testimonial-text {
    order: 2;
  }

  .testimonial-4 > .testimonial-text {
    order: 2;
  }

  .testimonial-text > .inner-text {
    width: 55%;
  }

  .testimonial-3 {
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .path {
    height: 50%;
    bottom: -15%;
    left: 2%;
    width: 90%;
  }

  .path-2 {
    top: -15%;
    height: 60%;
    width: 90%;
  }

  .more-reviews {
    flex-direction: column;
  }

  .more-reviews-text {
    justify-content: center;
    padding: 0;
    margin-bottom: 2%;
  }

  .more-reviews-inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
  }

  .more-reviews-inner-text > p {
    text-align: center;
    margin-top: 0;
  }

  .more-reviews-button {
    justify-content: center;
    padding: 0;
    margin-bottom: 10%;
  }
}
