@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.reading-font {
  font-family: "Roboto", sans-serif;
}

.soft-font {
  font-family: "Montserrat", sans-serif;
}
